
.partner-section {
    width: 30vw;
    padding: 3rem;
    margin: 4rem 0;
    border: solid 1px #8fc4b1;
    border-radius: 1.5rem;
    background: radial-gradient(circle, rgb(255 255 255 / 86%) 75%, rgb(8 85 51 / 25%) 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    min-height: 28rem;
}

.partner-title {
    text-align: center;
    font-family: 'proxima-nova';
    text-transform: lowercase;
    font-size: 2.3rem;
}

.partner-content {
    font-size: 1.9vmin;
    margin: 0;
    font-weight: bold;
    text-shadow: 0px 7px 8px #ffffff;
}

.partner-pix {
    width: 85%;
}

.partner-link {
    color: #1d68a0;
    text-decoration: none;
    font-size: 2.4vmin;
    float: right;
    bottom: 2rem;
    right: 2rem;
    position: absolute;
    font-family: 'proxima-nova';
    font-weight: bold;
    text-shadow: 0px 7px 8px #ffffff;
}

#partnerLinkIcon {
    color: #1d68a0;
    margin-left: 1rem;
    filter: drop-shadow(-3px 4px 3px white);
}