@import url("https://use.typekit.net/jok1uvq.css");

@font-face {
  font-family: 'Myriad-Pro';
  src: local('Myriad-Pro'), url(../../../assets/fonts/Myriad-Pro.woff) format('woff');
}

@font-face {
  font-family: 'Myriad-Pro-Bold';
  src: local('Myriad-Pro-Bold'), url(../../../assets/fonts/Myriad-Pro-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Rational-Text';
  src: local('Rational-Text'), url(../../../assets/fonts/Rational-Text.woff) format('woff');
}

@font-face {
  font-family: 'Olivetta-Black';
  src: local('Olivetta-Black'), url(../../../assets/fonts/Olivetta-Black.woff) format('woff');
}

html, body {
  height: 100%;
} 

body {
  margin: 0;
}

p {
  margin: unset;
}