#footer {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient( 
180deg
, rgba(255,255,255,1) 0%, #38ab6c 100%);
}

#footerIcon {
  width: 10rem;
}