#footer {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient( 
180deg
, rgba(255,255,255,1) 0%, #039746 100%);
  border-top: 1px solid #f4f0fff5;
  box-shadow: inset 0px 4px 8px 4px #0397463b;
}

#footerIcon {
  width: 10rem;
}