#visionVector {
    position: absolute;
    top: 0;
    width: 27rem;
    filter: saturate(1.3);
    border-bottom-right-radius: 188px;
    padding: 0 1rem 1rem 0;
    border: solid 1px #18AC6C;
}

#visionHeader {
    color: #150938;
    text-align: center;
    margin-top: 3rem;
    font-size: 8rem;
    font-family: 'Myriad-Pro-Bold';
    text-decoration: overline;
}