#visionPage {
    min-width: 100rem;
    background: linear-gradient(
        100deg
        , white 79%, rgb(143 196 177) 79%, white 80%, rgb(29 104 160) 80%, rgba(255,255,255,1) 95%);
}

#visionVector {
    position: absolute;
    top: 0;
    width: 29rem;
    border-bottom-right-radius: 188px;
    padding: 0 1rem 1rem 0;
    border: solid 1px #8fc4b1;
    border-top: none;
    border-left: none;
}

#visionHeaderWrapper {
    padding-bottom: 1rem;
    border-bottom: solid 1px #8fc4b1;
    margin: 0 0 3rem;
}

#visionHeader {
    color: white;
    font-size: 8rem;
    padding: 4.2rem;
    padding-left: 4em;
    background: #1d68a0;
    text-shadow: -2px 0px 7px #8fc4b1;
    box-shadow: inset 0 0 68px 22px #440725;
    font-family: 'proxima-nova';
    text-transform: lowercase;
    font-weight: bold;
}
