.content-box-section {
    line-height: 1.7rem;
    padding: 2rem;
    font-family: 'Ubuntu', sans-serif;
}

.content-box-section h2 {
    margin: 1rem;
} 

.content-box-section:nth-child(even) h2 {
    float: left;
}
.content-box-section:nth-child(odd) h2 {
    float: right;
}

.content-box-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    color: #550034;
    padding: 1rem;
    width: fit-content;
    text-shadow: 1px 1px 3px #31f7b5;
}

.content-box-content {
    color: #550034;
    font-size: 2rem;
    line-height: 2.2rem;
    margin: auto;
    padding: 1rem 3rem;
}