#navBar {
  position: absolute;
  z-index: 1;
  right: 0;
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  font-family: 'Myriad-Pro-Bold';
  text-align: center;
  height: 15vh;
  justify-content: space-between;
  text-transform: capitalize;
  letter-spacing: 3px;
  font-size: 1.2vmax;
  min-height: 150px;
}

#navBar a {
  padding: 0.8rem 0.4rem 0.6rem;
  text-decoration: none;
  color: white;
  background: #2f2d29c7;
  box-shadow: 2px 2px 2px #ffffffbd;
  width: 10rem;
  place-self: flex-end;
  transition-duration: 75ms;
}

#navBar a:hover {
  background: #2f2d29;
  width: 15rem;
  box-shadow: 2px -2px 7px #f9b914;
}

#navBar a:active {
  transform: scale(0.9);
}