#navBar {
  position: absolute;
  z-index: 1;
  right: 0;
  display: flex;
  margin-top: 2vh;
  margin-right: 1vw;
  font-family: 'Myriad-Pro-Bold';
  text-align: center;
  justify-content: space-around;
  letter-spacing: 2px;
  font-size: 1.4rem;
  width: 38rem;
}

#navBar a {
  padding: 0.8rem 0.4rem 0.6rem;
  text-decoration: none;
  color: white;
  background: #ffffff45;
  box-shadow: inset 0px 0px 10px 9px #30274fc2;
  width: 11rem;
  transition-duration: 75ms;
  text-shadow: 2px 3px 3px #1a0f40;
  text-transform: uppercase;
  border-radius: 3px;
}

#navBar a:hover {
  background: #150938ed;
  width: 15rem;
  box-shadow: inset 1px 0px 11px 2px #5C28FA;
}

#navBar a:active {
  transform: scale(0.9);
}