#partnersPage {
    height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
    /* color: #661230; */
}

#partnersImage {
    height: 30vh;
    margin: 5vh auto 0;
    border: 1px solid #2768a0;
    padding: 1rem;
    border-radius: 50%;
    filter: drop-shadow(0px 5px 4px #150938);
}


#partnersHeader {
    color: #1d68a0;
    font-size: 8rem;
    background: #1d68a0;
    text-shadow: 0px 7px 8px #ffffff;
    box-shadow: inset 0 0 68px 22px #440725;
    font-family: 'proxima-nova';
    text-transform: lowercase;
    font-weight: bold;
    width: 100%;
    padding-top: 13vh;
    text-align: center;
    height: 35vh;
    min-width: 67rem;
    background-image: url('../../../assets/pix/handSillhouette.png');
    background-position: top;
    background-size: cover;
    filter: drop-shadow(0px 4px 6px #440725);
    min-height: 19.4rem;
}

#partnersList {
    display: flex;
    justify-content: space-around;
}